<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>key1: <%= key1 %></p>
    <p>key2: <%= key2 %></p>
    <p>key3: <%= key3 %></p>
    <p>getkey: <%= getkey %></p>
    <p>postkey: <%= postkey %></p>
  </body>
</html>
